.home-container {
    text-align: center; /* Center text */
    margin: 20px; /* Add some margin */
}

.home-title {
    font-size: 2rem; /* Adjust title size */
    color: #333; /* Dark gray color for the title */
    margin-bottom: 10px; /* Space below the title */
}

.home-description {
    font-size: 1rem; /* Smaller font size for description */
    color: #666; /* Lighter gray color for the description */
    margin-bottom: 20px; /* Space below the description */
}

.login-section {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}