/* src/UserRegistration.css */

.app-title {
    text-align: center; /* Center align the main title */
    font-size: 28px; /* Larger font size for the title */
    color: #333; /* Dark color for better readability */
    margin-bottom: 20px; /* Space below the title */
}

.app-description {
    text-align: center; /* Center align the description */
    font-size: 16px; /* Slightly smaller font size for the description */
    color: #666; /* Lighter color for less emphasis */
    margin-bottom: 100px; /* Space below the description */
}

.registration-container {
    max-width: 400px; /* Set a max width for the container */
    margin: 0 auto; /* Center the container */
    padding: 40px; /* Increase padding for better spacing */
    background-color: #f9f9f9; /* Light background color */
    border-radius: 10px; /* Rounded corners for the container */
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); /* Shadow for depth */
}

.registration-title {
    text-align: center; /* Center align the title */
    margin-bottom: 20px; /* Space below the title */
}

.registration-form {
    text-align: left;
}

.registration-form input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 4px;
    border: 1px solid #ddd;
    box-sizing: border-box; /* Ensures padding is included in width */
}

.registration-form button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.registration-form button:hover {
    background-color: #0056b3;
}
